/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.paytiko-section .button-container {
    float: right;
}
.paytiko-section .paytiko-payments-text {
    display: inline-block; vertical-align: middle; width: 50%
}

#row_payment_us_paytiko_cashierBaseUrl{
    display:none;
}
#row_payment_us_paytiko_coreBaseUrl{
    display:none;
}

#row_payment_us_paytiko_embedScriptUrl{
    display:none;
}