<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paytiko" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label><![CDATA[Paytiko]]></label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable PaytikoGateway</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="activation_key" translate="label"  type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Activation Key</label>
                </field>

                <field id="cashierBaseUrl" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>cashierBaseUrl</label>
                </field>
                <field id="coreBaseUrl" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>coreBaseUrl</label>
                </field>
                <field id="embedScriptUrl" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>embedScriptUrl</label>
                </field>


                <field id="api_key" translate="label" type="text" sortOrder="52" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                </field>
                <field id="check_validity" translate="label" type="button" sortOrder="53" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Paytiko\PaytikoPayments\Block\System\Config\HealthCheck</frontend_model>
                </field>

                <field id="environment" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Mode</label>
                    <source_model>Paytiko\PaytikoPayments\Model\Environment</source_model>
                    <config_path>payment/paytiko/environment</config_path>
                </field>

                <field id="payment_dialog" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Dialog</label>
                    <source_model>Paytiko\PaytikoPayments\Model\PaymentDialog</source_model>
                    <config_path>payment/paytiko/paymentDialog</config_path>
                </field>

                <field id="cashierDescription" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Paytiko Descriptor</label>
                </field>
            </group>
        </section>
    </system>
</config>
